/* public/css/sidebar.css */
@import url('./post/createPost.css');
@import url('./user/listAllUsers.css');
@import url('./auth/login.css');
@import url('./navbar/sidebar.css');
@import url('./auth/signIn.css');
@import url('./welcome/welcome.css');
@import url('./post/allPosts.css');
@import url('./topic/allTopics.css');
@import url('./user/profile.css');
@import url('./tag/view_tag.css');

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0; /* Cor de fundo para o corpo da aplicação */
}

#menu {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  background-color: #1A202C; /* Cor de fundo para o menu onde está o ícone do menu hamburguer */
}

a{
  text-decoration: none;
}
